<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example of Formatting Tags</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class = "h1">Example of Formatting tags</h1>

    <p>This text has <b>subtext</b> using <strong>b</strong> tag</p>
    <p>This text has <strong>subtext</strong> using <strong>strong</strong> tag</p>
    <p>This text has <i>subtext</i> using <strong>i</strong> tag</p>
    <p>This text has <em>subtext</em> using <strong>emphasize</strong> tag</p>
    <p>This text has <small>subtext</small> using <strong>small</strong> tag</p>
    <p>This text has <mark>subtext</mark> using mark tag</p>
    <p>This text has <del>subtext</del> using <strong>del</strong> tag</p>
    <p>This text has <ins>subtext</ins> using <strong>ins</strong> tag</p>
    <p>This text has X<sub>subtext</sub> using <strong>sub</strong> tag</p>
    <p>This text has X<sup>subtext</sup> using <strong>sup</strong> tag</p>
</body>
</html>