<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example of Formatting Tags</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <a href="https://qu.edu.sa/" target="_blank">Go to QU website (open new tab)</a>
    <hr>

    <a href="https://qu.edu.sa/">Go to QU website (open in the same page/tab)</a>
    <hr>

    <a href="https://qu.edu.sa/">Go to QU website (open in the same page/tab)</a>
    <hr>

</body>
</html>