{% extends "bookmodule/layouts/base.html" %}
{% load static %}

{% block title %}List of Books{% endblock title %}

{% block content %}

<h1>List of Books</h1>

<div>
    <a href="one_book.html"><h2>1) Internet & World Wide Web How to Program</h2></a>
    <a href="one_book.html"><img src="{% static 'book1.jpg' %}" alt="book1 img desc" width="200" height="200"></a>
    <hr>
</div>

<div>
    <a href="one_book.html"><h2>2) C++ How to Program, Late Objects Version</h2></a>
    <a href="one_book.html"><img src="{% static 'book2.jpg' %}" alt="book2 img desc" width="200" height="200"></a>
    <hr>
</div>

<div>
    <a href="one_book.html"><h2>3) Images in Another Folder</h2></a>
    <a href="one_book.html"><img src="{% static 'book3.jpg' %}" alt="book3 img desc" width="200" height="200"></a>
    <hr>
</div>
{% endblock content %}