<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Listing Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2 class="h2" >The Best Features of the Internet</h2>
    <ul class="ul">
        <li>You can meet new people from countries around the world.
        <li>You have access to new media as it become public:</li>
            <ul>
                <li>New games</li>
                <li>New applications</li>
                    <ol>
                        <li>For business</li>
                        <li>For pleasure</li>
                    </ol>
                <li>Around the clock news</li>
                <li>Search engines</li>
                <li>Shopping</li>
                <li>Programming</li>
                    <ol>
                        <li>XML</li>   
                        <li>Java</li>
                        <li>HTML5</li>
                        <li>JavaScript</li>
                        <li>New languages</li> 
                    </ol>
            </ul>
        <li>Links</li>
        <li>Kepping in touch with old friends</li>
        <li>It's the technology of the future!</li>
        </li>
    </ul>
</body>
</html>