{% extends "bookmodule/layouts/base.html" %}
{% load static %}

{% block title %}Book Details{% endblock title %}

{% block content %}
<a href="{% url 'books.list_books' %}">Go Back</a>
<h1>Details of {{ book.title }}</h1> <!-- Dynamically display the book title -->
<h2>Author: {{ book.author }}</h2> <!-- Dynamically display the author -->
<p><strong>{{ book.title }}, {{ book.edition }}</strong> provides a clear, simple, engaging, and entertaining introduction to Internet and web programming. It’s appropriate for both introductory and intermediate-level client-side and server-side programming courses.</p>

<img src="{% static book.image_url %}" alt="{{ book.title }} image description" width="200" height="200"> <!-- Dynamically display the book image -->
{% endblock content %}