<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <title>Tables Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <table class="table">
    <caption>Table 1: Table of Fruits and Their Prices</caption>
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Apple</td>
            <td>$0.25</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>$0.50</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>$1.00</td>
        </tr>
        <tr>
            <td>Pineapple</td>
            <td>$2.00</td>
        </tr>
        <tr>
            <th>Total</td>
            <th>$3.75</td>
        </tr>
    </table>

    <table class="table complex">
        <caption>Table 2: A more complex sample table</caption>
        <tr>
            <td rowspan="2">
                <img src="{% static 'desert.jpg' %}" alt="Desert Image" style="width: 150px; height: auto;">
            </td>
            <th colspan="4">Camelid comparison<br>Approximate as of 6/2011</th>
        </tr>
        <tr>
            <th># of humps</th>
            <th>Indigenous region</th>
            <th>Spits?</th>
            <th>Produces wool?</th>
        </tr>
        <tr>
            <td>Dromedary</td>
            <td>1</td>
            <td>Arabian Peninsula</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Camels (bactrian)</td>
            <td>2</td>
            <td>Africa/Asia</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Llamas</td>
            <td>1</td>
            <td>Andes Mountains</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </table>
</body>
</html>